<section>
    <div class="text-6xl md:text-5xl font-bold flex flex-row justify-start items-start pt-[5rem] pl-[2rem]">
        Events
    </div>
</section>
<div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-6">
    <app-card
      title="Dance Parade"
      date="10th Jan 2025"
      location="Colombo 5"
      price="1000"
      image="/dance.jpeg"
    ></app-card>
    <app-card
      title="Movie Night"
      date="15th Feb 2025"
      location="Colombo 7"
      price="2000"
      image="/movie.jpeg"
    ></app-card>
    <app-card
      title="Fire Concert"
      date="20th Mar 2025"
      location="Colombo 3"
      price="1500"
      image="/concert.jpeg"
    ></app-card>
  </div>


  