<section class="py-[10rem]">
    <div class="max-w-7xl mx-auto px-6">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <!-- Step 1 -->
        <div>
          <img
            src="/events-transformed.jpeg"
            alt="Step 1 Image"
            class="w-full"
           
          />
        </div>
        <div class="flex flex-col justify-center">
          <h2 class="text-4xl font-bold text-gray-800">Select an event</h2>
          <p class="mt-4 text-xl text-gray-600">
            Selecting an events sets the ticket name/ vendor name and the ticket price.
          </p>
        </div>
      </div>
  
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-12">
        <!-- Step 2 -->
        <div class="flex flex-col justify-center">
          <h2 class="text-4xl font-bold text-gray-800">Configure the parameters</h2>
          <p class="mt-4 text-xl text-gray-600">
            Configure the rate at which the tickets are sold and being added while also having the ability to configure the number of tickets available.
          </p>
        </div>
        <div>
          <img
            src="/configuration-transformed.jpeg"
            class="w-[195px] h-[195px] md:w-full md:h-full"
            
          />
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <!-- Step 1 -->
        <div>
          <img
            src="/save-transformed.jpeg"
            alt="image of people sending message icon"
            class="w-full"
           
          />
        </div>

        <div class="flex flex-col justify-center">
          <h2 class="text-4xl font-bold text-gray-800">Start the simulation</h2>
          <p class="mt-4 text-xl text-gray-600">
            View how vendors add and customer buy tickets in real-time.
          </p>
        </div>
      </div>
    </div>
  </section>
