<div class="text-6xl md:text-5xl font-bold flex flex-row justify-start items-start pt-[5rem] pl-[2rem]">
  Ticket Simulation
</div>
<div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-6">
  <!-- Form Card -->
  <app-form></app-form>

  <!-- Status Card -->
  <div class="col-span-2 bg-white shadow-xl rounded-lg p-6 border-black">
      <h2 class="text-xl font-bold mb-4 text-gray-800">Log History </h2>
      <div class="text-lg">
          <div *ngIf="logs().length > 0; else noLogs">
              <ul>
                  <li *ngFor="let log of logs()">{{ log }}</li>
              </ul>
          </div>
          <ng-template #noLogs>
              <p>No logs available.</p>
          </ng-template>
      </div>
  </div>
</div>
